.tales {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 600px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.center {
    text-align:center;
}
.center-page {
    width:300px;
    height:300px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}
.space-vert {
    margin-top:20px;
}
.footer-pos {
    width: auto;
    height: auto;
    position: absolute;
    top: 700px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
body {
  padding-top:50px;
}